<template>
  <div id="app">
    <form novalidate @submit.prevent="onSubmit">
      <InputName v-model="name" />
      <InputEmail v-model="email" />
      <button type="submit">Submit</button>
    </form>
  </div>
</template>
<script>
import { ref } from "@vue/composition-api";
import InputName from "@/components/InputName";
import InputEmail from "@/components/InputEmail";
export default {
  name: 'App',
  setup () {
    const name = ref("");
    const email = ref("");
    function onSubmit() {
      console.log(name.value, email.value);
    }
    return {
      name,
      email,
      onSubmit
    }
  },
  components: {
    InputName,
    InputEmail
  }
}
</script>